<template>
  <NuxtLayout name="ygency" :header="1">
    <!-- Page Banner Section Start -->
    <section
      class="page-banner pt-210 rpt-150 pb-45 rpb-50 rel z-1"
      style="background-image: url(assets/images/hero/hero-two-bg.png)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-11">
            <h1 class="hero-title mb-100 rmb-50 wow fadeInUp delay-0-2s">
              We’re Digital Web
              <img
                class="mxw-20"
                src="/assets/images/banner/inside-title1.png"
                alt="title"
              />
              <img
                class="mxw-40"
                src="/assets/images/banner/inside-title2.png"
                alt="title"
              />
              Development Agency
              <span class="arrow"
                ><img
                  class="wow fadeInLeft delay-0-6s"
                  src="/assets/images/hero/title-arrow.png"
                  alt="Arrow"
              /></span>
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Banner Section End -->

    <!-- Video Area start -->
    <div class="video-area-two rel z-1">
      <div class="container-fluid">
        <div class="video-part style-two mb-40 wow fadeInUp delay-0-2s">
          <img src="/assets/images/video/video-two-bg.jpg" alt="Video" />
          <a
            href="https://www.youtube.com/embed/9Y7ma241N8k"
            class="mfp-iframe video-play"
            ><i class="fas fa-play"></i
          ></a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft delay-0-2s">
            <div class="client-text text-lg-start text-center mt-40 pb-50">
              Sed ut perspiciatis unde omnis iste natus error sit voluptat emey
              accusantium doloremque laudantium totam aperiam eaque quabillo
              inventore veritatisey quasi architecto beatae dictasunt
            </div>
            <div class="row">
              <div class="col-xl-10">
                <div class="client-logo-wrap">
                  <NuxtLink class="client-logo-item" href="contact">
                    <img
                      src="/assets/images/client-logos/client-logo-two1.png"
                      alt="Client Logo"
                    />
                  </NuxtLink>
                  <NuxtLink class="client-logo-item" href="contact">
                    <img
                      src="/assets/images/client-logos/client-logo-two2.png"
                      alt="Client Logo"
                    />
                  </NuxtLink>
                  <NuxtLink class="client-logo-item" href="contact">
                    <img
                      src="/assets/images/client-logos/client-logo-two3.png"
                      alt="Client Logo"
                    />
                  </NuxtLink>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInRight delay-0-2s">
            <div class="video-year text-lg-end text-center rel">
              1980
              <img
                class="leaf-shape"
                src="/assets/images/video/leaf.png"
                alt="Leaf"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video Area end -->

    <!-- Who We Are start -->
    <section class="who-we-are-area pt-100 rpt-80 pb-75 rpb-45 rel z-1">
      <div class="container container-1290">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div
              class="section-title text-center mb-70 wow fadeInUp delay-0-2s"
            >
              <span class="sub-title mb-15">Who We Are</span>
              <h2>We are Professional and Experience Team</h2>
            </div>
          </div>
        </div>
        <div class="row gap-90">
          <div class="col-lg-4 col-md-6">
            <div class="why-choose-item style-two wow fadeInUp delay-0-2s">
              <div class="why-choose-header">
                <i class="flaticon-creativity"></i>
                <h5>Customize your site</h5>
              </div>
              <p>
                At vero eos et accusamus iusto dignissim ducimuse blanditiis
                praesentiue
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="why-choose-item style-two wow fadeInUp delay-0-4s">
              <div class="why-choose-header">
                <i class="flaticon-mobile-banking"></i>
                <h5>Edit your mobile view</h5>
              </div>
              <p>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam
                corporis suscipit
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="why-choose-item style-two wow fadeInUp delay-0-6s">
              <div class="why-choose-header">
                <i class="flaticon-optimization-1"></i>
                <h5>Optimize search engines</h5>
              </div>
              <p>
                Quis autem vel eum iure reprehenderi qui ea voluptate velit esse
                quam nihile
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Who We Are end -->

    <!-- Headline area start -->
    <div class="headline-area bgc-primary pt-80 pb-65">
      <div class="container-fluid">
        <div class="headline-wrap marquee">
          <span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Headline Area end -->

    <!-- Team Area start -->
    <section class="team-area pt-130 rpt-100">
      <div class="container-fluid">
        <div
          class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-center"
        >
          <div class="col">
            <div class="team-member wow fadeInUp delay-0-2s">
              <div class="image">
                <img src="/assets/images/team/member6.jpg" alt="Team Member" />
              </div>
              <div class="content">
                <h4>Patrick V. Schroeder</h4>
                <span>UI/UX Designer</span>
                <NuxtLink class="read-more" href="team-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="btn-social">
                <NuxtLink class="read-more" href="team-details"
                  ><span>View Details</span> <i class="far fa-arrow-right"></i
                ></NuxtLink>
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="team-member wow fadeInUp delay-0-3s">
              <div class="image">
                <img src="/assets/images/team/member7.jpg" alt="Team Member" />
              </div>
              <div class="content">
                <h4>Michael A. Braun</h4>
                <span>UI/UX Designer</span>
                <NuxtLink class="read-more" href="team-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="btn-social">
                <NuxtLink class="read-more" href="team-details"
                  ><span>View Details</span> <i class="far fa-arrow-right"></i
                ></NuxtLink>
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="team-member wow fadeInUp delay-0-4s">
              <div class="image">
                <img src="/assets/images/team/member8.jpg" alt="Team Member" />
              </div>
              <div class="content">
                <h4>James V. Decastro</h4>
                <span>Senior Marketer</span>
                <NuxtLink class="read-more" href="team-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="btn-social">
                <NuxtLink class="read-more" href="team-details"
                  ><span>View Details</span> <i class="far fa-arrow-right"></i
                ></NuxtLink>
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="team-member wow fadeInUp delay-0-5s">
              <div class="image">
                <img src="/assets/images/team/member9.jpg" alt="Team Member" />
              </div>
              <div class="content">
                <h4>Troy V. Richardson</h4>
                <span>Web Designer</span>
                <NuxtLink class="read-more" href="team-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="btn-social">
                <NuxtLink class="read-more" href="team-details"
                  ><span>View Details</span> <i class="far fa-arrow-right"></i
                ></NuxtLink>
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="team-member wow fadeInUp delay-0-6s">
              <div class="image">
                <img src="/assets/images/team/member10.jpg" alt="Team Member" />
              </div>
              <div class="content">
                <h4>Michael A. Braun</h4>
                <span>Apps Designer</span>
                <NuxtLink class="read-more" href="team-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="btn-social">
                <NuxtLink class="read-more" href="team-details"
                  ><span>View Details</span> <i class="far fa-arrow-right"></i
                ></NuxtLink>
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team Area end -->

    <!-- Statistics Area start -->
    <div
      class="statistics-area pt-100 rpt-70 rel z-1"
      style="background-image: url(assets/images/hero/hero-two-bg.png)"
    >
      <div class="container">
        <CountersCounter />
      </div>
    </div>
    <!-- Statistics Area end -->

    <!-- Testimonial Area start -->
    <SlidersTestimonial2 />
    <!-- Testimonial Area end -->

    <!-- Client Logo Two start -->
    <section class="client-logo-area pt-130 rpt-100 pb-100 rpb-70">
      <div class="container">
        <div class="section-title text-center mb-60">
          <h4>We Have 1520+Global Clients</h4>
        </div>
        <div class="client-logo-wrap">
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-2s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo1.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-3s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo2.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-4s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo3.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-5s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo4.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-6s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo5.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-7s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo6.png"
              alt="Client Logo"
            />
          </NuxtLink>
        </div>
      </div>
    </section>
    <!-- Client Logo Two end -->
  </NuxtLayout>
</template>

<script>
export default {
  name: "about",
};
</script>
