<template>
  <NuxtLayout name="ygency" :footer="4" :header="2" :singlePage="true">
    <!-- Hero Section Start -->
    <section
      id="home"
      class="hero-area-four pt-250 rpt-120 pb-220 rpb-100 rel z-1"
    >
      <div class="container container-1620 rel z-1">
        <div class="hero-four-content rel mt-50 text-center">
          <h1>
            <span class="marquee-wrap">
              <span class="marquee-inner one">
                <span>Hello, I’m Michael P.</span> Turner
              </span>
              <span class="marquee-inner one">
                <span>Hello, I’m Michael P.</span> Turner
              </span>
              <span class="marquee-inner one">
                <span>Hello, I’m Michael P.</span> Turner
              </span>
            </span>

            <span class="marquee-wrap">
              <span class="marquee-inner two">
                Senior <span> Web Developer.</span>
              </span>
              <span class="marquee-inner two">
                Senior <span> Web Developer.</span>
              </span>
              <span class="marquee-inner two">
                Senior <span> Web Developer.</span>
              </span>
            </span>

            <span class="marquee-wrap">
              <span class="marquee-inner three">
                <span>8+ Years </span> Of Experience
              </span>
              <span class="marquee-inner three">
                <span>8+ Years </span> Of Experience
              </span>
              <span class="marquee-inner three">
                <span>8+ Years </span> Of Experience
              </span>
            </span>
          </h1>
          <div class="rotated-man-wrap">
            <div class="rotated-man">
              <img src="/assets/images/hero/hero-man.png" alt="Man" />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-shapes">
        <img
          class="shape one"
          src="/assets/images/hero/hero-shape1.png"
          alt="Shape"
        />
        <img
          class="shape two"
          src="/assets/images/hero/hero-shape2.png"
          alt="Shape"
        />
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Area start -->
    <section id="about" class="about-area rel z-1">
      <div class="container-fluid">
        <div class="about-four-wrap py-130 rpy-100">
          <div class="container container-1290">
            <div class="row gap-70 align-items-center">
              <div class="col-lg-6">
                <div class="about-four-content rmb-55 wow fadeInUp delay-0-2s">
                  <div class="section-title mb-35">
                    <span class="sub-title mb-15">About Me</span>
                    <h2>Professional & Experience Web Developer</h2>
                  </div>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae abillo inventore veritatis quasi
                    architecto beatae vitae dicta sunt explicabo.
                  </p>
                  <ul class="list-style-three pt-25 pb-20">
                    <li>Development</li>
                    <li>Custom Support</li>
                    <li>Mobile Apps</li>
                    <li>Product Development</li>
                  </ul>
                  <div class="about-btns">
                    <NuxtLink
                      href="about"
                      class="theme-btn style-two mt-15 me-3"
                      >Learn More <i class="far fa-arrow-right"></i
                    ></NuxtLink>
                    <NuxtLink href="projects" class="theme-btn mt-15"
                      >Explore Projects <i class="far fa-arrow-right"></i
                    ></NuxtLink>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="about-four-image wow fadeInUp delay-0-4s">
                  <img src="/assets/images/about/about-four.jpg" alt="About" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Area end -->

    <!-- Service Box start -->
    <section id="services" class="service-section pt-130 rpt-100 pb-100 rpb-70">
      <div class="container container-1290">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-ux"></i>
              </div>
              <h4>
                <NuxtLink href="service-details"
                  >Professional & Experience</NuxtLink
                >
              </h4>
              <p>
                Ut enim ad minima veniam exercitati ullam corporis suscipit
                laboriosam nisute
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="service-item style-three wow fadeInDown delay-0-2s">
              <div class="icon">
                <i class="flaticon-optimization-1"></i>
              </div>
              <h4>
                <NuxtLink href="service-details"
                  >Dedication & Modern Code</NuxtLink
                >
              </h4>
              <p>
                To take a trivial example which undertakes laborious physical
                exercise obtain
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-ai"></i>
              </div>
              <h4>
                <NuxtLink href="service-details"
                  >Creative & Intelligent</NuxtLink
                >
              </h4>
              <p>
                At vero eos accusaus dignisimos ducimuse qui blanditiis
                praesentium voluptatue
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Box end -->

    <!-- My Skills Area start -->
    <section class="my-skills-area rel z-1">
      <div class="container container-1290">
        <div class="row gap-100 justify-content-between align-items-center">
          <div class="col-lg-5">
            <div class="my-skill-content rmb-55 wow fadeInLeft delay-0-2s">
              <div class="section-title mb-35">
                <span class="sub-title mb-15">My Skills & Experience</span>
                <h2>I’m Certified & Skills Developer</h2>
              </div>
              <p>
                To take a trivial example which ever undertakes laborious
                physical exercise, except to obtain some advantage from it? But
                who has any right to find fault man chooses
              </p>
              <NuxtLink class="read-more mt-15" href="about"
                >Learn More <i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="my-skill-images wow fadeInRight delay-0-2s">
              <div class="skill-item">
                <img src="/assets/images/skills/skill9.png" alt="Skill Icon" />
                <span class="text">Sass</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill2.png" alt="Skill Icon" />
                <span class="text">HTML</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill4.png" alt="Skill Icon" />
                <span class="text">javascript</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill11.png" alt="Skill Icon" />
                <span class="text">Shopify</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill10.png" alt="Skill Icon" />
                <span class="text">Angular</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill8.png" alt="Skill Icon" />
                <span class="text">node.js</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill3.png" alt="Skill Icon" />
                <span class="text">CSS</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill7.png" alt="Skill Icon" />
                <span class="text">php</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill1.png" alt="Skill Icon" />
                <span class="text">Bootstrap</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill6.png" alt="Skill Icon" />
                <span class="text">WordPress</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill12.png" alt="Skill Icon" />
                <span class="text">Elementor</span>
              </div>
              <div class="skill-item">
                <img src="/assets/images/skills/skill13.png" alt="Skill Icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- My Skills Area end -->

    <!-- Counter Three start -->
    <div class="counter-section-three pt-70 pb-20 my-130 rmy-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three counter-text-wrap wow fadeInRight delay-0-2s"
            >
              <i class="flaticon-software-development"></i>
              <span class="count-text plus" data-speed="3000" data-stop="15"
                >0</span
              >
              <span class="counter-title">Years Of Experience</span>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three counter-text-wrap wow fadeInRight delay-0-4s"
            >
              <i class="flaticon-development"></i>
              <span class="count-text plus" data-speed="3000" data-stop="63"
                >0</span
              >
              <span class="counter-title">Project Complete</span>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three counter-text-wrap wow fadeInRight delay-0-6s"
            >
              <i class="flaticon-star-symbol"></i>
              <span class="count-text percent" data-speed="3000" data-stop="98"
                >0</span
              >
              <span class="counter-title">Clients Satisfactions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Three end -->

    <!-- Work Gallery Area start -->
    <SlidersProject />
    <!-- Work Gallery Area end -->

    <!-- Headline area start -->
    <div class="headline-area bgc-primary py-40 rpy-25">
      <div class="container-fluid">
        <div class="headline-wrap-two">
          <span class="marquee-wrap">
            <span class="marquee-inner left">
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Sass</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>HTML</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>CSS</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>node.js</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>php</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>WordPress</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>javascript</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Angular</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Shopify</b></span
              >
            </span>
            <span class="marquee-inner left">
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Sass</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>HTML</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>CSS</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>node.js</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>php</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>WordPress</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>javascript</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Angular</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Shopify</b></span
              >
            </span>
            <span class="marquee-inner left">
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Sass</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>HTML</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>CSS</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>node.js</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>php</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>WordPress</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>javascript</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Angular</b></span
              >
              <span class="marquee-item"
                ><i class="fas fa-star-of-life"></i><b>Shopify</b></span
              >
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Headline Area end -->

    <!-- Our Awards Area start -->
    <section id="awards" class="our-awards-area py-130 rpy-100 rel z-1">
      <div class="container container-1290">
        <div class="row align-items-end pb-35">
          <div class="col-lg-8">
            <div class="section-title mb-30 wow fadeInUp delay-0-2s">
              <span class="sub-title mb-15">My Achievement</span>
              <h2>Lot’s Of Awards & Trophy</h2>
            </div>
          </div>
          <div class="col-lg-4 text-lg-end">
            <NuxtLink
              class="read-more mb-30 wow fadeInRight delay-0-2s"
              href="services"
              >View More Awards <i class="fas fa-arrow-right"></i
            ></NuxtLink>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-5">
            <div
              class="awards-tab-content rmb-75 rel wow fadeInLeft delay-0-2s"
            >
              <div class="tab-content">
                <div class="tab-pane fade show active" id="awards-tab-one">
                  <div class="award-image">
                    <img src="/assets/images/about/award.png" alt="Awards" />
                  </div>
                </div>
                <div class="tab-pane fade" id="awards-tab-two">
                  <div class="award-image">
                    <img src="/assets/images/about/award.png" alt="Awards" />
                  </div>
                </div>
                <div class="tab-pane fade" id="awards-tab-three">
                  <div class="award-image">
                    <img src="/assets/images/about/award.png" alt="Awards" />
                  </div>
                </div>
                <div class="tab-pane fade" id="awards-tab-four">
                  <div class="award-image">
                    <img src="/assets/images/about/award.png" alt="Awards" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="awards-tabs nav flex-column nav-pills wow fadeInRight delay-0-2s"
            >
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#awards-tab-one"
              >
                <span class="left">
                  <span class="h3">Best WordPress Developer</span>
                  <span class="award-type">Awwwards</span>
                </span>
                <span class="details-btn"
                  ><i class="fal fa-long-arrow-right"></i
                ></span>
              </button>
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#awards-tab-two"
              >
                <span class="left">
                  <span class="h3">Developer Of The Day</span>
                  <span class="award-type">Envato Market</span>
                </span>
                <span class="details-btn"
                  ><i class="fal fa-long-arrow-right"></i
                ></span>
              </button>
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#awards-tab-three"
              >
                <span class="left">
                  <span class="h3">Website Developer</span>
                  <span class="award-type">Freelance Market</span>
                </span>
                <span class="details-btn"
                  ><i class="fal fa-long-arrow-right"></i
                ></span>
              </button>
              <button
                class="nav-link mb-0"
                data-bs-toggle="tab"
                data-bs-target="#awards-tab-four"
              >
                <span class="left">
                  <span class="h3">Intelligence Developer</span>
                  <span class="award-type">Freelance Market</span>
                </span>
                <span class="details-btn"
                  ><i class="fal fa-long-arrow-right"></i
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Awards Area end -->

    <!-- FAQ's Area start -->
    <section class="faq-area pt-20 rpt-0 pb-130 rpb-120 rel z-1">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6">
            <div class="faq-content-part rmb-55 wow fadeInRight delay-0-2s">
              <div class="section-title mb-60">
                <span class="sub-title mb-15">Asked Questions</span>
                <h2>Frequently Asked Question</h2>
              </div>
              <div class="accordion" id="faq-accordion-two">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwoOne"
                    >
                      Will you provide website layout about design ?
                    </button>
                  </h5>
                  <div
                    id="collapseTwoOne"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion-two"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwoTwo"
                    >
                      How much does cost to design website ?
                    </button>
                  </h5>
                  <div
                    id="collapseTwoTwo"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion-two"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwoThree"
                    >
                      How many revisions can i make the design ?
                    </button>
                  </h5>
                  <div
                    id="collapseTwoThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion-two"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwoFour"
                    >
                      Will you provide website layout about design ?
                    </button>
                  </h5>
                  <div
                    id="collapseTwoFour"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion-two"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="faq-four-iamge wow fadeInLeft delay-0-2s">
              <img src="/assets/images/faqs/faq-four.jpg" alt="FAQs" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ's Area end -->

    <SlidersTestimonial4 />

    <!-- CTA Area start -->
    <div class="cta-area bgc-primary pt-30 pb-15 rel z-1">
      <div class="container">
        <div class="cta-wrap">
          <h4>I'm available for freelance work</h4>
          <NuxtLink href="contact" class="theme-btn"
            >Hire Me <i class="far fa-arrow-right"></i
          ></NuxtLink>
        </div>
      </div>
      <div class="cta-shapes">
        <img
          class="shape one"
          src="/assets/images/shapes/circle.png"
          alt="Circle"
        />
        <img
          class="shape two"
          src="/assets/images/shapes/close.png"
          alt="Close"
        />
        <img
          class="shape three"
          src="/assets/images/shapes/weve-lines.png"
          alt="Weve Line"
        />
        <img
          class="shape four"
          src="/assets/images/shapes/circle.png"
          alt="Circle"
        />
        <img
          class="shape five"
          src="/assets/images/shapes/close.png"
          alt="Close"
        />
        <img
          class="shape six"
          src="/assets/images/shapes/weve-lines.png"
          alt="Weve Line"
        />
      </div>
    </div>
    <!-- CTA Area end -->

    <!-- Blog Style Four start -->
    <section id="news" class="blog-area-four pt-130 rpt-100 pb-100 rpb-70">
      <div class="container container-1290">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
            <div
              class="section-title text-center mb-60 wow fadeInUp delay-0-2s"
            >
              <span class="sub-title mb-20">Blog & News</span>
              <h2>Read Our Latest News & Blog Get Every Updates</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="blog-item style-three wow fadeInUp delay-0-2s">
              <div class="image">
                <img src="/assets/images/blog/blog-four1.jpg" alt="Blog" />
                <NuxtLink href="blog" class="category">Design</NuxtLink>
              </div>
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Voice Skills Google Assistant And Amazon Alexa</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author1.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="blog-item style-three wow fadeInUp delay-0-4s">
              <div class="image">
                <img src="/assets/images/blog/blog-four2.jpg" alt="Blog" />
                <NuxtLink href="blog" class="category">Software</NuxtLink>
              </div>
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Inclusive Design Accese Live Stream Heydon
                    Pickering</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author2.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="blog-item style-three wow fadeInUp delay-0-6s">
              <div class="image">
                <img src="/assets/images/blog/blog-four3.jpg" alt="Blog" />
                <NuxtLink href="blog" class="category">Product</NuxtLink>
              </div>
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Creating Online The Works Well For Older Users</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author3.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Style Four end -->

    <!-- Drop Me Area start -->
    <section id="contact" class="drop-me-area">
      <div class="container container-1290">
        <div
          class="row align-items-center justify-content-center justify-content-lg-between"
        >
          <div class="col-lg-6">
            <div class="drop-me-form-part rmb-50 wow fadeInLeft delay-0-2s">
              <div class="section-title mb-40">
                <span class="sub-title mb-20">Drop Me Line</span>
                <h2>Let’s Start Your Next Dream Project</h2>
              </div>
              <form id="dropMeForm" class="form-style-two" @submit.prevent="">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        value=""
                        placeholder="Full Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        id="phone"
                        name="phone"
                        class="form-control"
                        value=""
                        placeholder="Phone"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        value=""
                        placeholder="Email Address"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-50">
                    <div class="form-group">
                      <select name="select-subject" id="select-subject">
                        <option value="default" selected="">Subject</option>
                        <option value="Design">Design</option>
                        <option value="Development">Development</option>
                        <option value="SEO">SEO</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea
                        name="message"
                        id="message"
                        class="form-control"
                        rows="4"
                        placeholder="Message"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group pt-5 mb-0">
                      <button type="submit" class="theme-btn style-two">
                        Send Message <i class="far fa-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
            <div
              class="drop-me-image-part wow fadeInRight delay-0-2s position-relative"
            >
              <div class="rotated-man text-center">
                <img src="/assets/images/hero/drop-me.png" alt="Man" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Drop Me Area end -->

    <!-- Headline area start -->
    <div class="headline-area rel z-1 move-top-two">
      <div class="container-fluid">
        <div class="headline-text style-three marquee pb-20">
          <span><span>Get Start Your Projects</span></span>
        </div>
      </div>
    </div>
    <!-- Headline Area end -->

    <!-- Client Logo Two start -->
    <div class="client-logo-area py-100 rpy-70">
      <div class="container">
        <div class="client-logo-wrap">
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-2s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo1.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-3s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo2.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-4s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo3.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-5s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo4.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-6s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo5.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-7s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo6.png"
              alt="Client Logo"
            />
          </NuxtLink>
        </div>
      </div>
    </div>
    <!-- Client Logo Two end -->
  </NuxtLayout>
</template>

<script>
import { ygencyUtilits } from "~/utilits";

export default {
  name: "index4",
  mounted() {
    ygencyUtilits.counterUp();
  },
};
</script>
