<template>
  <NuxtLayout name="ygency" :header="3" :footer="5" :singlePage="true">
    <!-- Slider Section Start -->
    <SlidersHero5 />
    <!-- Slider Section End -->

    <!-- Client Logo Two start -->
    <div class="client-logo-area pt-120 pb-90 rpt-100 rpb-70">
      <div class="container">
        <div class="client-logo-wrap">
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-2s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo1.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-3s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo2.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-4s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo3.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-5s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo4.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-6s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo5.png"
              alt="Client Logo"
            />
          </NuxtLink>
          <NuxtLink
            class="client-logo-item wow fadeInUp delay-0-7s"
            href="contact"
          >
            <img
              src="/assets/images/client-logos/client-logo6.png"
              alt="Client Logo"
            />
          </NuxtLink>
        </div>
      </div>
    </div>
    <!-- Client Logo Two end -->

    <!-- Service Box start -->
    <section id="services" class="what-we-offer pb-90 rpb-70">
      <div class="container container-1290">
        <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
          <span class="sub-title mb-20">What We offer</span>
          <h2>Amazing Service For Marketing Agency</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-ux"></i>
              </div>
              <div class="number">01</div>
              <h4>
                <NuxtLink href="service-details"
                  >Search engine optimization</NuxtLink
                >
              </h4>
              <NuxtLink href="service-details" class="more"
                ><i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-engineering"></i>
              </div>
              <div class="number">02</div>
              <h4>
                <NuxtLink href="service-details"
                  >Social media marketing</NuxtLink
                >
              </h4>
              <NuxtLink href="service-details" class="more"
                ><i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-optimization-1"></i>
              </div>
              <div class="number">03</div>
              <h4>
                <NuxtLink href="service-details"
                  >Online marketing strategy</NuxtLink
                >
              </h4>
              <NuxtLink href="service-details" class="more"
                ><i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="service-item style-three wow fadeInUp delay-0-2s">
              <div class="icon">
                <i class="flaticon-ai"></i>
              </div>
              <div class="number">04</div>
              <h4>
                <NuxtLink href="service-details"
                  >Digital Product Development</NuxtLink
                >
              </h4>
              <NuxtLink href="service-details" class="more"
                ><i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service Box end -->

    <!-- About Us Area start -->
    <section id="about" class="about-area-five py-130 rpy-100 rel z-1">
      <div class="container container-1290">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6">
            <div class="about-content-five">
              <div class="section-title mb-40 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-15">About Company</span>
                <h2>The World Class Digital Marketing Agency</h2>
              </div>
              <p>
                Sed ut perspiciatis unde omnis iste natus error voluptatem
                accusantium doloremque laudantium, totam reme aperiam eaque quae
                abillo inventorey veritatis quasi architecto beatae vitae dicta
                sunt explicabo.
              </p>
              <div class="authors-text mt-45 pt-50">
                <img src="/assets/images/about/author1.jpg" alt="Author" />
                <img src="/assets/images/about/author2.jpg" alt="Author" />
                <img src="/assets/images/about/author3.jpg" alt="Author" />
                <img src="/assets/images/about/author4.jpg" alt="Author" />
                <img src="/assets/images/about/author5.jpg" alt="Author" />
                <span class="text"
                  >We Have <span>5k+ Global</span> Clients Around the
                  World</span
                >
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="about-five-images rmt-50 wow fadeInRight delay-0-2s">
              <div class="image-one">
                <img
                  src="/assets/images/about/about-five1.jpg"
                  alt="About Image"
                />
              </div>
              <div class="about-five-shape">
                <img
                  src="/assets/images/about/about-five-bg.png"
                  alt="About Five Shape"
                />
              </div>
              <div class="image-two mt-30">
                <img
                  src="/assets/images/about/about-five2.jpg"
                  alt="About Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Area end -->

    <!-- Work Gallery Area start -->
    <SlidersProject2 />
    <!-- Work Gallery Area end -->

    <!-- Counter Five start -->
    <div class="counter-section-five pb-80 rpb-50">
      <div class="container container-1290">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three style-two counter-text-wrap wow fadeInRight delay-0-2s"
            >
              <i class="flaticon-software-development"></i>
              <span class="count-text plus" data-speed="3000" data-stop="15"
                >0</span
              >
              <span class="counter-title">Years Of Experience</span>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three style-two counter-text-wrap wow fadeInRight delay-0-4s"
            >
              <i class="flaticon-development"></i>
              <span class="count-text plus" data-speed="3000" data-stop="63"
                >0</span
              >
              <span class="counter-title">Project Complete</span>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div
              class="counter-item-three style-two counter-text-wrap wow fadeInRight delay-0-6s"
            >
              <i class="flaticon-branding"></i>
              <span class="count-text percent" data-speed="3000" data-stop="98"
                >0</span
              >
              <span class="counter-title">Clients Satisfactions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Five end -->

    <!-- Video Area start -->
    <div class="video-area-five rel z-1">
      <div class="container container-1290">
        <div class="video-part style-three wow fadeInUp delay-0-2s">
          <img src="/assets/images/video/video-five-bg.jpg" alt="Video" />
          <a
            href="https://www.youtube.com/embed/9Y7ma241N8k"
            class="mfp-iframe video-play"
            ><i class="fas fa-play"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- Video Area end -->

    <!-- Team Area start -->
    <section id="team" class="team-area pt-130 rpt-100 pb-100 rpb-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div
              class="section-title text-center mb-55 wow fadeInUp delay-0-2s"
            >
              <span class="sub-title mb-20">Team Members</span>
              <h2>Meet Our Professionals Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="team-member style-three wow fadeInUp delay-0-2s">
              <div class="image">
                <img
                  src="/assets/images/team/member-three1.jpg"
                  alt="Team Member"
                />
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="content">
                <h4>Donald M. Woodard</h4>
                <span>Senior Marketer</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="team-member style-three wow fadeInUp delay-0-4s">
              <div class="image">
                <img
                  src="/assets/images/team/member-three2.jpg"
                  alt="Team Member"
                />
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="content">
                <h4>Justin E. Hamilton</h4>
                <span>Junior Marketer</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="team-member style-three wow fadeInUp delay-0-6s">
              <div class="image">
                <img
                  src="/assets/images/team/member-three3.jpg"
                  alt="Team Member"
                />
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="content">
                <h4>Michael J. Johnson</h4>
                <span>Content Marketer</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="team-member style-three wow fadeInUp delay-0-8s">
              <div class="image">
                <img
                  src="/assets/images/team/member-three4.jpg"
                  alt="Team Member"
                />
                <div class="social-style-two">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="content">
                <h4>Timothy S. Duggan</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team Area end -->

    <!-- Work Process Area start -->
    <section class="work-process-five-area pt-130 pb-90 rpt-100 rpb-60 rel z-1">
      <div class="container container-1290">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
            <div
              class="section-title text-center mb-60 wow fadeInUp delay-0-2s"
            >
              <span class="sub-title mb-20">Working Process</span>
              <h2>Simple Step Follow To Complete Work, How It Work</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="work-process-five wow fadeInUp delay-0-2s">
              <div class="icon-title">
                <i class="flaticon-optimization-1"></i>
                <h4>Research</h4>
              </div>
              <div class="content">
                <p>
                  Sed ut perspiciatis unde omnis iste natus error voluptatem
                  accusantium doloremque laudantium totam reme aperiam eaque
                  quae abillo
                </p>
                <NuxtLink class="read-more" href="service-details"
                  >Learn More <i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="work-process-five wow fadeInUp delay-0-4s">
              <div class="icon-title">
                <i class="flaticon-mobile-banking"></i>
                <h4>Target & Analysis</h4>
              </div>
              <div class="content">
                <p>
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quae molestiae consequatur vel illum qui dolorem
                  eum fugiat voluptas
                </p>
                <NuxtLink class="read-more" href="service-details"
                  >Learn More <i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="work-process-five wow fadeInUp delay-0-6s">
              <div class="icon-title">
                <i class="flaticon-optimization"></i>
                <h4>Got Results</h4>
              </div>
              <div class="content">
                <p>
                  At vero eos et accusamus et iusto dignissimos ducimus
                  blanditiis praesentium voluptat delenite atque corrupti quos
                  dolores molestias
                </p>
                <NuxtLink class="read-more" href="service-details"
                  >Learn More <i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Work Process Area end -->

    <!-- Blog Style Five start -->
    <section id="blog" class="blog-area-five pt-130 rpt-100 pb-100 rpb-70">
      <div class="container container-1290">
        <div class="row align-items-center pb-35">
          <div class="col-lg-8">
            <div class="section-title mb-30 wow fadeInUp delay-0-2s">
              <span class="sub-title mb-15">Blog & News</span>
              <h2>Latest News & Blog</h2>
            </div>
          </div>
          <div class="col-lg-4 text-lg-end">
            <NuxtLink
              class="theme-btn style-two mb-30 wow fadeInRight delay-0-2s"
              href="services"
              >View More News <i class="fas fa-arrow-right"></i
            ></NuxtLink>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="blog-item style-four wow fadeInUp delay-0-2s">
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Skills Google Assistant And Amazon Alexa</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author1.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
              <div class="image">
                <img src="/assets/images/blog/blog-five1.jpg" alt="Blog" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog-item style-four wow fadeInUp delay-0-4s">
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Fine-Grained Handling Level Security</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author2.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
              <div class="image">
                <img src="/assets/images/blog/blog-five2.jpg" alt="Blog" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog-item style-four wow fadeInUp delay-0-2s">
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Overcoming Challenges Of Content Creation</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author3.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
              <div class="image">
                <img src="/assets/images/blog/blog-five3.jpg" alt="Blog" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog-item style-four wow fadeInUp delay-0-4s">
              <div class="content">
                <ul class="blog-meta">
                  <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">February 18, 2023</a>
                  </li>
                </ul>
                <h5>
                  <NuxtLink href="blog-details"
                    >Full Stack GraphQL With Next.js, Neo4j AuraDB</NuxtLink
                  >
                </h5>
                <div class="author">
                  <img
                    src="/assets/images/blog/blog-author1.jpg"
                    alt="Author"
                  />
                  <span class="name">Bernard R. Kay</span>
                </div>
              </div>
              <div class="image">
                <img src="/assets/images/blog/blog-five4.jpg" alt="Blog" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Style Five end -->

    <!-- Work With Us Area start -->
    <section class="work-with-us-area rel z-1">
      <div class="container container-1290">
        <div class="row no-gap">
          <div class="col-xl-5 align-self-center">
            <div class="work-with-image wow fadeInUp delay-0-2s">
              <img src="/assets/images/about/work-with-us.jpg" alt="About" />
            </div>
          </div>
          <div class="col-xl-7 wow fadeInUp delay-0-4s">
            <div
              class="work-with-content"
              style="
                background-image: url(assets/images/about/work-with-us-bg.jpg);
              "
            >
              <div class="section-title mb-10">
                <span class="sub-title mb-15">Work With Us</span>
                <h2>Have Any Projects On Minds! Contact Us</h2>
              </div>
              <p>
                Sed ut perspiciatis unde omnis iste natus voluptatem accusantium
                doloremque laudantium reme aperiam eaque quae abillo
              </p>
              <NuxtLink href="contact" class="theme-btn mt-15"
                >Let’s Work Together <i class="far fa-arrow-right"></i
              ></NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Work With Us Area end -->
  </NuxtLayout>
</template>

<script>
import { ygencyUtilits } from "~/utilits";

export default {
  name: "index5",
  mounted() {
    ygencyUtilits.counterUp();
  },
};
</script>
