<template>
  <NuxtLayout name="ygency" :header="1">
    <!-- Page Banner Section Start -->
    <section
      class="page-banner pt-210 rpt-150 pb-25 rel z-1"
      style="background-image: url(assets/images/hero/hero-two-bg.png)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1
              class="hero-title style-two mb-100 rmb-50 wow fadeInUp delay-0-2s"
            >
              Web Design
              <img
                class="mxw-10 leaf"
                src="/assets/images/banner/leaf.png"
                alt="Leaf"
              />
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Banner Section End -->

    <!-- Services Page About Area start -->
    <section class="service-page-about py-130 rpy-100 rel z-1">
      <div class="container">
        <div class="row gap-90 align-items-center">
          <div class="col-lg-6">
            <div class="service-about-image rmb-55 wow fadeInUp delay-0-2s">
              <img
                src="/assets/images/about/service-page-about.jpg"
                alt="About"
              />
              <div
                class="service-about-box bgc-primary"
                style="
                  background-image: url(assets/images/shapes/work-step-bg.png);
                "
              >
                <NuxtLink class="read-more" href="service-details"
                  ><i class="fal fa-arrow-right"></i
                ></NuxtLink>
                <h3>
                  <NuxtLink href="service-details"
                    >Web Solutions Research and Idea Generate</NuxtLink
                  >
                </h3>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 mx-xl-auto">
            <div class="about-content wow fadeInUp delay-0-4s">
              <div class="section-title mb-40">
                <span class="sub-title mb-15">What We Do</span>
                <h2>Special Solutions For Web Development</h2>
              </div>
              <div class="content">
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptat
                  emey accusantium doloremque laudantium totam aperiam eaque
                  quabillo inventore veritatisey quasi architecto beatae
                  dictasunt
                </p>
                <ul class="list-style-three pt-15 pb-25">
                  <li>Web Design & Development</li>
                  <li>SEO Optimizations</li>
                  <li>Digital Product Design</li>
                </ul>
                <NuxtLink class="read-more mt-10 color-primary" href="about"
                  >Learn More <i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Page About Area end -->

    <!-- How We Works start -->
    <section class="how-we-works-area pb-100 rpb-70 rel z-1">
      <div class="container">
        <div class="section-title mb-40 wow fadeInUp delay-0-2s">
          <span class="sub-title mb-15">How We Works</span>
          <h2>Simple Step Follow to Complete Work</h2>
          <div class="text mt-30">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum
            </p>
          </div>
        </div>
        <div class="row gap-90">
          <div class="col-xl-3 col-sm-6">
            <div class="work-step-item wow fadeInUp delay-0-2s">
              <span class="step-number">Step 01</span>
              <h4 class="title">Idea Generate</h4>
              <div class="content">
                <p>Vero eos et accusamus iusto odio disimos</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="work-step-item wow fadeInUp delay-0-3s">
              <span class="step-number">Step 02</span>
              <h4 class="title">Plan & Design</h4>
              <div class="content">
                <p>Quis autems eum iures reprehen voluptate</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="work-step-item wow fadeInUp delay-0-4s">
              <span class="step-number">Step 03</span>
              <h4 class="title">Project Testing</h4>
              <div class="content">
                <p>To take example which ever undertakes</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="work-step-item arrow-none wow fadeInUp delay-0-5s">
              <span class="step-number">Step 04</span>
              <h4 class="title">Got Results</h4>
              <div class="content">
                <p>Avoids paine produces resultant pleasure</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- How We Works end -->

    <!-- Video Area start -->
    <div class="video-area-two rel z-1">
      <div class="container-fluid">
        <div class="video-part style-two wow fadeInUp delay-0-2s">
          <img src="/assets/images/video/video-two-bg.jpg" alt="Video" />
          <a
            href="https://www.youtube.com/embed/9Y7ma241N8k"
            class="mfp-iframe video-play"
            ><i class="fas fa-play"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- Video Area end -->

    <!-- Headline area start -->
    <div class="headline-area bgc-primary pt-80 pb-65">
      <div class="container-fluid">
        <div class="headline-wrap marquee">
          <span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Headline Area end -->

    <!-- Why Choose Us start -->
    <section class="why-choose-area pt-100 rpt-70 rel z-1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-8">
            <div class="why-choose-us-content">
              <div class="section-title mb-60 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-15">Why Choose Us</span>
                <h2>Web Design Company That You Can Trust</h2>
              </div>
              <div class="row gap-60">
                <div class="col-md-6">
                  <div class="why-choose-item wow fadeInUp delay-0-2s">
                    <div class="why-choose-header">
                      <i class="far fa-chevron-right"></i>
                      <h5>Competitive rates</h5>
                    </div>
                    <p>
                      We use strategic marketing tactics that have been proven
                      programming
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="why-choose-item wow fadeInUp delay-0-3s">
                    <div class="why-choose-header">
                      <i class="far fa-chevron-right"></i>
                      <h5>Premium Development</h5>
                    </div>
                    <p>
                      Sed perspiciatis unde omnie natue site voluptatem accusan
                      doloremque
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="why-choose-item wow fadeInUp delay-0-2s">
                    <div class="why-choose-header">
                      <i class="far fa-chevron-right"></i>
                      <h5>No contracts needed</h5>
                    </div>
                    <p>
                      You can increase, pause or stop our services at any time
                      leaving
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="why-choose-item wow fadeInUp delay-0-3s">
                    <div class="why-choose-header">
                      <i class="far fa-chevron-right"></i>
                      <h5>Retina Ready & Flexible</h5>
                    </div>
                    <p>
                      Devices show more pixels square inch resulting sharperes
                      images Content
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="why-choose-right style-two wow fadeInLeft delay-0-2s">
              <img
                src="/assets/images/services/why-choose-right-two.jpg"
                alt="Why Choose Right"
              />
              <div class="why-choose-border-shape"></div>
              <div class="text-shape">
                <img
                  class="text"
                  src="/assets/images/services/web-design-text-two.svg"
                  alt="Web Design Text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Why Choose Us end -->

    <!-- FAQ's Area start -->
    <section class="faq-area pt-130 rpt-95 pb-105 rpb-75 rel z-1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="faq-iamge-part rmb-55 wow fadeInLeft delay-0-2s">
              <img src="/assets/images/faqs/faq.png" alt="FAQs" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="faq-content-part wow fadeInRight delay-0-2s">
              <div class="section-title mb-60">
                <span class="sub-title mb-15">Asked Questions</span>
                <h2>Frequently Asked Questions</h2>
              </div>
              <div class="accordion" id="faq-accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                    >
                      Will you provide website layout about design ?
                    </button>
                  </h5>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                    >
                      How much does cost to design website ?
                    </button>
                  </h5>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                    >
                      How many revisions can i make the design ?
                    </button>
                  </h5>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                    >
                      Will you provide website layout about design ?
                    </button>
                  </h5>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        To take a trivial example which undertakes laborious
                        physical exercise except to obtain some advantage
                        pleasure annoying consequences
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ's Area end -->
  </NuxtLayout>
</template>

<script>
export default {
  name: "service-details",
};
</script>
