<template>
  <NuxtLayout name="ygency" :header="1">
    <!-- Page Banner Section Start -->
    <section
      class="page-banner pt-210 rpt-150 pb-45 rpb-50 rel z-1"
      style="background-image: url(assets/images/hero/hero-two-bg.png)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="hero-title mb-100 rmb-50 wow fadeInUp delay-0-2s">
              Digital Services
              <img
                class="mxw-10 leaf"
                src="/assets/images/banner/leaf.png"
                alt="Leaf"
              />
              For Web Design & Development
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Banner Section End -->

    <!-- Feature Three Area start -->
    <section class="feature-three-area pb-50 rpb-20 rel z-1">
      <div class="container container-1290">
        <div class="row gap-130">
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-2s">
              <div class="top-part">
                <span class="serial-number">01</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details">Web Development</NuxtLink>
                </h4>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus
                  quie blanditiis praesentium voluptatum delenit corruptie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-4s">
              <div class="top-part">
                <span class="serial-number">02</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details"
                    >Application Development</NuxtLink
                  >
                </h4>
                <p>
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatur, vel illum quie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-2s">
              <div class="top-part">
                <span class="serial-number">03</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details"
                    >Digital Product Design</NuxtLink
                  >
                </h4>
                <p>
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid commodie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-4s">
              <div class="top-part">
                <span class="serial-number">04</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details">SEO Optimization</NuxtLink>
                </h4>
                <p>
                  We denounce with righteous indignation and dislike men who are
                  so beguiled and demoralized by the charms of pleasure
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-2s">
              <div class="top-part">
                <span class="serial-number">05</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details">Design & Branding</NuxtLink>
                </h4>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus
                  quie blanditiis praesentium voluptatum delenit corruptie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-4s">
              <div class="top-part">
                <span class="serial-number">06</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details">IT Consulting</NuxtLink>
                </h4>
                <p>
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatur, vel illum quie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-2s">
              <div class="top-part">
                <span class="serial-number">07</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details"
                    >Business Development</NuxtLink
                  >
                </h4>
                <p>
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid commodie
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item-three wow fadeInUp delay-0-4s">
              <div class="top-part">
                <span class="serial-number">08</span>
                <NuxtLink class="details-btn" href="service-details"
                  ><i class="far fa-arrow-right"></i
                ></NuxtLink>
              </div>
              <div class="content">
                <h4>
                  <NuxtLink href="service-details"
                    >eCommerce Development</NuxtLink
                  >
                </h4>
                <p>
                  We denounce with righteous indignation and dislike men who are
                  so beguiled and demoralized by the charms of pleasure
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature Three Area end -->

    <!-- Headline area start -->
    <div class="headline-area bgc-primary pt-80 pb-65">
      <div class="container-fluid">
        <div class="headline-wrap marquee">
          <span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Design & Branding</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Web Development</b>
            </span>
            <span class="marquee-item">
              <i class="fas fa-star-of-life"></i>
              <b>Mobile Apps</b>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Headline Area end -->

    <!-- Work Process Area start -->
    <section class="work-process-area pt-130 rpt-100 rel z-1">
      <div class="container container-1290 rel z-1">
        <div class="row gap-70">
          <div class="col-xl-3 col-md-6">
            <div
              class="work-step-item style-two mt-60 wow fadeInDown delay-0-2s"
            >
              <span class="step-number">Step 01</span>
              <h4 class="title">Idea Generate</h4>
              <div class="content">
                <p>Vero eos et accusamus iusto odio disimos</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="work-step-item style-two wow fadeInUp delay-0-2s">
              <span class="step-number">Step 02</span>
              <h4 class="title">Plan & Design</h4>
              <div class="content">
                <p>Quis autems eum iures reprehen voluptate</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div
              class="work-step-item style-two mt-60 wow fadeInDown delay-0-2s"
            >
              <span class="step-number">Step 03</span>
              <h4 class="title">Project Testing</h4>
              <div class="content">
                <p>To take example which ever undertakes</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="work-step-item style-two wow fadeInUp delay-0-2s">
              <span class="step-number">Step 04</span>
              <h4 class="title">Got Results</h4>
              <div class="content">
                <p>Avoids paine produces resultant pleasure</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-line-shape">
          <img
            src="/assets/images/shapes/work-process-line.png"
            alt="Work Process Line"
          />
        </div>
      </div>
    </section>
    <!-- Work Process Area end -->

    <!-- Testimonial Area start -->
    <SlidersTestimonial2 :extraClass="'pb-130'" />
    <!-- Testimonial Area end -->
  </NuxtLayout>
</template>

<script>
export default {
  name: "services",
};
</script>
